@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  padding: 50px;
  background-color: #222;
  color: white;
}

h2{
  font-size: 25px;
  font-weight: 800;
  color: black;
  width: 40%;
}
h3{
  font-size: 20px;
  font-weight: 800;
  color: rgb(129, 110, 110);
  width: 40%;
}

p{
  color: #222;
  font-weight: 600;
}

li{
 width: 40%;
 color: #222;
 font-size: large;
 font-weight: 800;
}

a{
  width: 80%;
}